<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/issac.ico"/>
    <title>Honeycomb-Find destinations info and share your travel experience!</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/colors/color-74c9be.css" rel="stylesheet">    
    <link href="assets/css/animations.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/main.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Honeycomb</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="input-group" style="width:700px;float:left;padding-top:10px;"> 
                    <div class="input-group-btn">
                    </div>
                    <input type="text" class="form-control" placeholder="Search for your destination">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="destination.html">destinations</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
  
<section id="content" class="contact ng-scope" ng-controller="ContactController as ctrl" style="background-image:url(img/wallpaper1.jpeg);background-size: cover;">
    <div class="container">
      <div class="padded">
        <h2>My Article</h2>
      </div>
      <form method="post" name="contact" ng-submit="ctrl.onSubmit(form)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
        <div class="field">
          <input type="text" placeholder="TITLE" required="" ng-model="form.name" class="ng-pristine ng-untouched ng-invalid ng-invalid-required">
        </div>
        <div class="cols cols-2">
          <div class="col">
            <div class="field">
              <input type="email" placeholder="AUTHOR (YOUR NAME BY DEFAULT)" required="" ng-model="form.email" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched">
            </div>
          </div>
          <div class="col">
            <div class="field">
              <select class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required="" ng-model="form.inquirytype">
                <option value="">WHO CAN SEE THIS ARTICLE
                </option><option value="0">All users
                </option><option value="1">Friends
                </option><option value="2">Only me
              </option></select>
            </div>
          </div>
        </div>
        <div class="field">
          <textarea placeholder="PLEASE ENTER YOUR CONTENT AND DRAG YOUR PHOTOS HERE." required="" ng-model="form.message" class="ng-pristine ng-invalid ng-invalid-required ng-touched"></textarea>
        </div>

          <!-- ngIf: !ctrl.submitted --><div class="field center ng-scope" ng-if="!ctrl.submitted">
            <button type="submit" class="rounded lg wide" ng-disabled="contact.$invalid" disabled="disabled">Submit</button>
          </div><!-- end ngIf: !ctrl.submitted -->
          <!-- ngIf: ctrl.submitted -->
          <!-- ngIf: ctrl.error -->
      </form>
    </div>
  </section>
    
    

    
    
    <!--modal!-->
    <div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="form-group">
                <label for="keyword" class="col-sm-3 control-label">Username:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Username">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label for="keyword" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter password">
                </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                    <div class="checkbox">
                        <label><input type="checkbox" name="free" value="true"> <b>Remember me</b></label>
                    </div>
                </div>
            </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-8">
                <button id="signin" name="signin" class="btn login" style="margin-top:7px">Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="form-group">
                <label for="keyword" class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Email">
                </div>
            </div>
            <!-- Password input-->
            <div class="form-group">
                <label for="keyword" class="col-sm-3 control-label">Password:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <label for="keyword" class="col-sm-3 control-label">Re-enter:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Re-enter password">
                </div>
            </div>
            
            <!-- Button -->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="confirmsignup"></label>
              <div class="col-sm-8">
                <button id="confirmsignup" name="confirmsignup" class="btn login">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer" align="center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <!--modal!-->
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
</body>

</html>
